<ul>
  <% if ::Refinery::AutoFbposts::Admin::AutoFbpostsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.auto_fbposts_admin_auto_fbposts_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_auto_fbposts_admin_auto_fbpost_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::AutoFbposts::Admin::AutoFbpostsController.sortable? && ::Refinery::AutoFbposts::AutoFbpost.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Auto Fbposts"),
                 refinery.auto_fbposts_admin_auto_fbposts_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Auto Fbposts"),
                 refinery.auto_fbposts_admin_auto_fbposts_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
