<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::AutoFbposts::Admin::AutoFbpostsController.sortable? and ::Refinery::AutoFbposts::AutoFbpost.count > 1 %>
